<!-- Jumbotron -->
    <div class="jumbotron">
      <img class="background" src="../../img/surf.jpg" alt="surfeur sur un requin">
      <div class="surf_blabla text-center">
        <h1>HAWAIIIIII</h1>
            <p class="lead">Le surf c'est vachement bien!!!! On peut nourrir les requins!! =D</p>
          <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
        </div>
      </div>

      <!-- Example row of columns -->
      <div ng-controller="homeController" class="row opacity">
        <div ng-repeat="block in blocks" class="col-lg-4">
          <h2 class="blabla1">{{block.titre}}</h2>
          <p class="blabla1">{{block.texte}}</p>
          <p><a class="btn btn-primary center-block btn_home" href="#" role="button">{{block.bouton}}</a></p>
        </div>
        <!-- 
        <div class="col-lg-4">
        <h2 class="blabla1">{{block.titre}}</h2>
          <p class="blabla1">Les Hawaiiens sont vraiment les réels inventeurs du "Sport des Rois", encore appelé "hee nalu" en Hawaiien. Après l'arrivée du capitaine anglais Cook sur les îles, le lieutenant James King fut le premier à rapporter comment les Hawaiiens de l'époque s'engageait dans cette activité pour le peu inhabituelle. Le capitaine Cook et d'autres non-hawaiiens découvrant les îles pour la première fois furent impressionnés par l'agilité et la maîtrise de ces "hommes de l'eau" hawaiiens. Ceux-ci utilisaient de longues planches découpées dans de long troncs d'arbres pour accrocher et glisser sur les vagues déferlantes, allongés sur leur ventre ou debout un pied devant l'autre.</p>
          </p>
          <p><a class="btn btn-primary center-block btn_home" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2 class="blabla1">Une véritable tradition hawaiienne</h2>
          <p class="blabla1">La plupart des spots les plus célèbres ont leur petit nom presque toujours indiqués sur une carte. Le plus simple est demander autour de vous où trouver les spots qui correspondront le mieux à vos capacités à un moment donné de l'année. Parmi les spots célèbres sur Oahu on trouve Velzyland, Backyards, Gas Chambers, Backdoor, Pupukea, Log Cabins, Leftovers, Chun's Reef, Laniakea, Silver Channel, Avalanche, Kaena Points et Walls.
          <p><a class="btn btn-primary center-block btn_home" href="#" role="button">View details &raquo;</a></p>
        </div>

        
        -->
      </div>